<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV | Oleksandra Chernenko</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="cv-navbar">
        <a href="/">Über mich</a>
        <a href="/#projects">Projekte</a>
        <a href="/#contact">Kontaktformular</a>
    </nav>

    <main class="cv-page">
        <header class="cv-header">
            <h1>
                <span>Oleksandra</span>
                <span>Chernenko</span>
            </h1>

            <p>Umschulung zur Fachinformatikerin (FIAE)</p>
        </header>
<div class="cv-main-layout"> 
   <section class="cv-accordion">
            <details>
                <summary>Berufserfahrung</summary>

                <div class="cv-content">
                    <article>
                        <h3>Umschulung zur Fachinformatikerin für Anwendungsentwicklung</h3>
                        <p>Institut für Berufliche Bildung AG · Hagen</p>
                    </article>

                    <article>
                        <h3>Spielcentermitarbeiterin</h3>
                        <p>Löwen Play GmbH · Wetter</p>
                        <ul>
                            <li>Kundenbetreuung</li>
                            <li>Spielerschützende Präventionsarbeit</li>
                            <li>Umgang mit Firmen- und Kundengeldern</li>
                            <li>Konkurrenzbeobachtung</li>
                            <li>Einarbeitung neuer Servicemitarbeiter</li>
                        </ul>
                    </article>

                    <article>
                        <h3>Kundenberaterin</h3>
                        <p>Airline Industry Consultants GmbH · Köln</p>
                        <ul>
                            <li>Erstberatung bei Umbuchungen und Stornierungen</li>
                            <li>Beratung auf Deutsch und Englisch</li>
                            <li>Annahme und Bearbeitung von Reservierungen</li>
                            <li>Sachbearbeitung per Telefon und E-Mail</li>
                        </ul>
                    </article>
                </div>
            
            </details>

            <details>
                <summary>Bildung</summary>

                <div class="cv-content">
                    <article>
                        <h3>B.Sc.-Studium Betriebswirtschaftslehre</h3>
                        <p>Universität zu Köln · Köln</p>
                    </article>

                    <article>
                        <h3>Studienkolleg</h3>
                        <p>Technische Universität Berlin · Berlin</p>
                    </article>

                    <article>
                        <h3>Lyzeum mit Spezialisierung in Mathematik und Physik</h3>
                        <p>Lyzeum Nr. 157 · Kyiv</p>
                    </article>
                </div>
            </details>

            <details>
                <summary>Qualifikationen</summary>

                <div class="cv-content cv-columns">
                    <article>
                        <h3>Betriebssysteme</h3>
                        <p>Microsoft · gute Kenntnisse</p>
                        <p>Linux · Grundkenntnisse</p>
                    </article>

                    <article>
                        <h3>MS 365</h3>
                        <p>Word · gute Kenntnisse</p>
                        <p>Excel · gute Kenntnisse</p>
                        <p>PowerPoint · gute Kenntnisse</p>
                        <p>Teams · gute Kenntnisse</p>
                        <p>Outlook · gute Kenntnisse</p>
                    </article>

                    <article>
                        <h3>Technologien</h3>
                        <p>HTML & CSS · gute Kenntnisse</p>
                        <p>Python · gute Kenntnisse</p>
                        <p>SQL · gute Kenntnisse</p>
                        <p>Hyper-V · Grundkenntnisse</p>
                    </article>
                </div>
            </details>

            <details>
                <summary>Sprachen</summary>

                <div class="cv-content cv-list">
                    <p><strong>Deutsch:</strong> Fließend</p>
                    <p><strong>Englisch:</strong> Fließend</p>
                    <p><strong>Ukrainisch:</strong> Muttersprache</p>
                    <p><strong>Russisch:</strong> Muttersprache</p>
                </div>
            </details>

            <details>
                <summary>Persönliche Eigenschaften</summary>

                <div class="cv-content cv-tags">
                    <span>Verantwortlich</span>
                    <span>Kreativ</span>
                    <span>Lernbereit</span>
                    <span>Analytisch</span>
                    <span>Kommunikativ</span>
                </div>
            </details>
        </section>
    
    <section class="cv-contact-cards">

    <a class="cv-contact-card"
       href="https://www.google.com/maps/place/Hagen+Hbf/@51.3633236,7.4634166,17.5z/data=!3m1!5s0x47b9ec4367ecc199:0x364baddf3accf507!4m6!3m5!1s0x47b93c9d846f3695:0xefd9d04fcb70ea1a!8m2!3d51.3628576!4d7.4604154!16s%2Fm%2F0261vys?entry=ttu&g_ep=EgoyMDI2MDYyOC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank">

        <span class="contact-icon">
            <img src="{{ url_for('static', filename='images/locationpin.svg') }}" alt="Standort">
        </span>

        <span>
            <strong>Standort</strong>
            <small>Hagen</small>
        </span>
    </a>


    <a class="cv-contact-card" href="mailto:och.nrw@gmail.com">

        <span class="contact-icon">
            <img src="{{ url_for('static', filename='images/mailpin.svg') }}" alt="E-Mail">
        </span>

        <span>
            <strong>E-Mail</strong>
            <small>och.nrw@gmail.com</small>
        </span>
    </a>


    <a class="cv-contact-card" href="https://github.com/AleksaMakedThese" target="_blank">

        <span class="contact-icon">
            <img src="{{ url_for('static', filename='images/githubpin.svg') }}" alt="GitHub">
        </span>

        <span>
            <strong>GitHub</strong>
            <small>@AleksaMakedThese</small>
        </span>
    </a>


    <a class="cv-contact-card"
       href="https://www.linkedin.com/in/oleksandra-chernenko-76028741b/"
       target="_blank">

        <span class="contact-icon">
            <img src="{{ url_for('static', filename='images/linkedinpin.svg') }}" alt="LinkedIn">
        </span>

        <span>
            <strong>LinkedIn</strong>
            <small>Oleksandra Chernenko</small>
        </span>
    </a>

</section>
</div>
</main>
    <aside class="floating-cta">
        <p>Interesse geweckt?</p>
        <a href="/#contact">Kontaktformular</a>
        <a href="{{ url_for('static', filename='files/Lebenslauf_Oleksandra_Chernenko.pdf') }}" download>
            Herunterladen
        </a>
    </aside>
</body>
</html>