<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="cv-navbar">
    <a href="/">Startseite</a>
    <a href="/cv">CV</a>
</nav>

<main class="cv-page">

    <header class="cv-header">
        <h1>Impressum</h1>
    </header>

    <section class="contact-section">

        <p><strong>Oleksandra Chernenko</strong></p>

        <p>
            Wittekindstr. 18<br>
            58097 Hagen<br>
            Deutschland
        </p>

        <p>
            E-Mail:<br>
            och.nrw@gmail.com
        </p>

    </section>

</main>

</body>
</html>